body.modal-open {
    overflow-y: hidden;
}

.modal-90w {
    min-width: 60vw;
}

.modal-image {
    padding: 20px;
}

.modal-detail-title {
    width: 100px;
    font-weight: bold;
}

.modal-more-detail {
    height: 500px;
    background-color: blue;
}